#erreurContainer{
    background-color:bisque;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    a{
        color: black;
        text-decoration: none;
        &:hover{
            text-decoration: underline;
        }
    }
}