*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}
body{
    padding: 30px;
    display: flex;
    flex-direction: column;
}

main{
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex:1;
}

form{
    background-color: bisque;
    padding: 30px;
    display: flex;
    flex-direction: column;
    width: 250px;
    border-radius: 8px;
    input, textarea{
        padding: 5px;
    }
    textarea{
        min-height: 100px;
        width: 100%;
    }
    button{
        margin-top: 20px;
        background-color: brown;
        border: none;
        cursor: pointer;
        padding: 5px;
        border-radius: 8px;
        color: aliceblue;
        &:hover{
            opacity: 0.8;
        }
    }
    
}