*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding: 30px;
}

main{
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}