button{
        background-color: rgba(240, 248, 255, 0);
        border: none;
        a{
            text-decoration: none;
            color: black;
            &:hover{
                text-decoration: underline;
            }
        }
    }