form{
    background-color: bisque;
    padding: 30px;
    display: flex;
    flex-direction: column;
    max-width: 300px;
    border-radius: 8px;
    input{
        padding: 5px;
    }
    button{
        background-color: brown;
        border: none;
        cursor: pointer;
        padding: 5px;
        border-radius: 8px;
        color: aliceblue;
        &:hover{
            opacity: 0.8;
        }
    }
    
}
button{
        background-color: rgba(240, 248, 255, 0);
        border: none;
        a{
            text-decoration: none;
            color: black;
            &:hover{
                text-decoration: underline;
            }
        }
    }