#editDelContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

form{
    background-color: bisque;
    padding: 30px;
    display: flex;
    flex-direction: column;
    width: 250px;
    border-radius: 8px;
    input, textarea{
        padding: 5px;
    }
    textarea{
        min-height: 100px;
        width: 100%;
    }
    button{
        margin-top: 20px;
        background-color: brown;
        border: none;
        cursor: pointer;
        padding: 5px;
        border-radius: 8px;
        color: aliceblue;
        &:hover{
            opacity: 0.8;
        }
    }
    
}

