header{
    display: flex;
    align-items: center;

    nav{
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: end;
        ul{
            li{
                list-style: none;
                a{
                    text-decoration: none;
                    color: black;
                    &:hover{
                        color: gray
                    }
                }
                
            }
        }
    }
}