header{
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    width: 100%;
    height: 80px;
    background-color: var(--main-light-color);
    padding: 20px;

    nav{
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: end;
        ul{
            li{
                list-style: none;
                a{
                    text-decoration: none;
                    color: black;
                    &:hover{
                        color: gray
                    }
                }
                
            }
        }
    }
}