section {

    h2 {
        margin-bottom: 30px;
        text-align: center;
        font-size: 28px;
    }


    #containerProducts {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        padding: 0 30px;

        &:has(.upperLayer:hover) .upperLayer:not(:hover) {
            opacity: 0.8;
            scale: 0.95;
        }

        .upperLayer {
            background-color: var(--interactive-color);
            border-radius: 8px;
            transition: all ease-in-out .2s;
                width: 100%;
                max-width: 700px;

            h3{
                padding: 15px;
                text-align: center;
                font-size: 24px;
            }
            &:hover {
                scale: 1.05;
            }

            &:hover img {
                scale: 1.2;
            }

            .containerProduct {
                position: relative;
                transition: scale ease-in-out .2s;
                cursor: pointer;
                padding-bottom: 20px;
                overflow: hidden;
                width: 100%;
                padding: 20px 10px;
                display: flex;
                flex-direction: column;
                border-radius:50px 50px 8px 8px ;
                text-align: center;
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                background-color: var(--main-light-color);

                .imgContainer {
                    width: 100%;
                    height: 150px;
                    overflow: hidden;
                }

                .description {
                    font-size: 13px;
                    opacity: 0.8;
                    margin-bottom: 30px;
                }

                img {
                    width: 100%;
                    height: 150px;
                    object-position: center;
                    object-fit: cover;
                    transition: scale ease-in-out .2s;
                }

                .price {
                    text-align: start;
                    margin-top: 10px;
                    font-size: 20px;
                    color: var(--interactive-color);
                    font-weight: bold;
                }

            }
        }

    }
}