section {

    h2 {
        margin-bottom: 30px;
    }

    #containerProducts {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;

         &:has(.containerProduct:hover) .containerProduct:not(:hover),
            &:hover .containerProduct:not(:hover) {
                opacity: 0.5;
            }

        .containerProduct {
            transition: scale ease-in-out .2s;
            cursor: pointer;
            padding-bottom: 20px;
            gap: 20px;
            overflow: hidden;
            max-width: 250px;
            display: flex;
            flex-direction: column;
            background-color: bisque;
            border-radius: 8px;
            border: solid 1px black;

            &>*:not(:first-child) {
                margin: 0 20px;
            }

            img {
                width: 100%;
                height: 150px;
                object-position: center;
                object-fit: cover;
            }

            &:hover {
                scale: 1.05;
            }

           
        }
    }
}